<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlanetsGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PlanetsGame.Properties.Settings>
            <setting name="ScreensaverDelay" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Languages" serializeAs="String">
                <value>PL|EN</value>
            </setting>
        </PlanetsGame.Properties.Settings>
    </userSettings>

  <appSettings>
    <add key="INTRO_InfoText:PL" value="Ekspozycja stała i Geologiczny Ogród Doświadczeń w Centrum Geoedukacji - innowacyjne podejście do popularyzacji&#x0a;nauk o Ziemi i promocji dziedzictwa geologicznego regionu" />
    <add key="INTRO_InfoText:EN" value="EN Ekspozycja stała i Geologiczny Ogród Doświadczeń w Centrum Geoedukacji - innowacyjne podejście do popularyzacji&#x0a;nauk o Ziemi i promocji dziedzictwa geologicznego regionu" />
    <add key="INTRO_TouchText:PL" value="Dotknij, by rozpocząć" />
    <add key="INTRO_TouchText:EN" value="Touch, to begin" />

    <add key="MAIN_AboutButtonText:PL" value="O INWESTYCJI" />
    <add key="MAIN_AboutButtonText:EN" value="ABOUT" />
    <add key="MAIN_TermsButtonText:PL" value="REGULAMIN" />
    <add key="MAIN_TermsButtonText:EN" value="TERMS" />
    <add key="MAIN_MakingOfButtonText:PL" value="MAKING OFF" />
    <add key="MAIN_MakingOfButtonText:EN" value="MAKING OFF" />

    <add key="ABOUT_AboutText:PL" value="Ekspozycja stała i Geologiczny Ogród Doświadczeń w Centrum Geoedukacji - innowacyjne podejście do popularyzacji nauk o Ziemi i promocji dziedzictwa geologicznego regionu" />
    <add key="ABOUT_AboutText:EN" value="EN Ekspozycja stała i Geologiczny Ogród Doświadczeń w Centrum Geoedukacji - innowacyjne podejście do popularyzacji nauk o Ziemi i promocji dziedzictwa geologicznego regionu" />

    <add key="TERMS_InfoText:PL" value="REGULAMIN ZWIEDZANIA CENTRUM GEOEDUKACJI" />
    <add key="TERMS_InfoText:EN" value="EN REGULAMIN ZWIEDZANIA CENTRUM GEOEDUKACJI" />

    <add key="MAKINGOF_InfoText:PL" value="" />
    <add key="MAKINGOF_InfoText:EN" value="" />
  </appSettings>

</configuration>